<p>Dear Sir or Madam,</p>
<p>The scheduled meeting "{{meeting.title}}" has started.</p>
<p>Meeting Details:</p>
<ul>
    <li>Title: {{meeting.title}}</li>
    <li>Description: {{meeting.description}}</li>
    <li>Start date: {{meeting.start_date}}</li>
    <li>End date: {{meeting.end_date}}</li>
</ul>
<p>To join the meeting, click the following link: <a href="{{url}}">{{url}}</a></p>
<p>We hope the meeting goes well!</p>