<p>Dear Sir or Madam,</p>
<p>There have been updates to the meeting "{{meeting.title}}."</p>
<p>Meeting Details:</p>
<ul>
    <li>Title: {{meeting.title}}</li>
    <li>Description: {{meeting.description}}</li>
    <li>Start date: {{meeting.start_date}}</li>
    <li>End date: {{meeting.end_date}}</li>
</ul>
<p>Please review the changes and make any necessary adjustments.</p>
<p>You can add this updated meeting to your calendar using the attached .ics file.</p>
<p>To join the meeting, click the following link: <a href="{{url}}">{{url}}</a></p>
<p>Thank you!</p>